/* Time and indecators section */
.flex-menu-bar {
  display: flex;
  background-color: #3c3a39;
  width: 375px;
  height: 92px;
  flex-direction: column;
  align-content: center;
}

.flex-menu-bar > div {
  font-size: 30px;
  color: white;
  flex-grow: 1;
}

.time {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  margin-top: 16px;
  margin-left: 21px;
}

.indecators {
  margin-top: 4px;
  margin-right: 21px;
  float: right;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: 16px;
  margin-left: 21px;
}

.menu-icone {
  margin-top: 4px;
  margin-right: 35px;
  float: right;
}

/* Header */
.flex-header {
  display: flex;
  background-color: #1c1a19;
  width: 375px;
  height: 590px;
  align-items: center;
  justify-content: center;
}

.flex-header > div {
  padding: 20px;
  font-size: 30px;
  color: white;
  flex-grow: 1;
}

.head-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.head-title-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.head-body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* Body of the page */
.grid-body {
  display: grid;
  flex-direction: column;
  align-content: center;
  height: 3555px;
  width: 375px;
  top: 682px;
}

.grid-body > div {
  padding: 23px;
  color: black;
  flex-grow: 1;
}

.recent-work {
  margin-top: 80px;
  text-align: center;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

.work-sample-2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  height: 70px;
  width: 295px;
  padding-top: 20px;
  border-radius: nullpx;
  text-align: left;
  color: black;
}

.work-sample {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  height: 70px;
  width: 295px;
  padding-left: 20px;
  padding-top: 50px;
  border-radius: nullpx;
  text-align: left;
  color: white;
}

.work-sample-detail {
  height: 147px;
  width: 327px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.work-sample-text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.tags {
  display: grid;
  list-style: none;
  height: 30px;
  width: 236px;
  padding-left: 20px;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.tags > li {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 15px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: white;
}

.cards {
  height: 410px;
}

.tags-2 {
  padding: 0px;
  width: 250px;
}

.tag {
  float: left;
  list-style: none;
  padding: 15px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: black;
  border: 1px solid;
  border-radius: 10px;
  margin: 0px 2px;
}

.see-2 {
  display: block;
  margin-top: 80px;
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  width: 120px;
  height: 35px;
  background: #ff6b00;
}
a:link { text-decoration: none; }

.see-3 {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  width: 200px;
  height: 35px;
  background: #ff6b00;
  font-size: 20px;
}

.see {
  margin-top: 20px;
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  width: 328px;
  height: 35px;
  background: #ff6b00;
}

/* About */
.flex-about {
  display: flex;
  background-color: #1c1a19;
  padding-top: 70px;
  width: 375px;
  height: 1701px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-about > div {
  padding: 20px;
  font-size: 35px;
  color: white;
  flex-grow: 1;
}

.lang-title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.lang {
  display: grid;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  margin-left: -40px;
}

.about-me {
  height: 350px;
}

.flex-footer {
  display: flex;
  padding-top: 70px;
  width: 375px;
  height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-footer > div {
  padding: 20px;
  font-size: 20px;
  color: black;
  flex-grow: 1;
}

.footer-datail {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
}

input[type=email] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.button {
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
<<<<<<< HEAD
<<<<<<< Updated upstream
  text-align: center;
  text-decoration: none;
=======
>>>>>>> Stashed changes
=======
>>>>>>> main
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
